<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loja Online</title>
    <link rel="stylesheet" href="../static/css/styles_home.css">
    
</head>
<body>
        <header>
            <div class="nome-site">NOZAMA</div>
            <div class="buttons">
                {% if not logged_in %}
                    <button onclick="window.location.href='/registro'">Registrar</button>
                    <button onclick="window.location.href='/login'">Logar</button>
                {% else %}
                <p class="welcome">Bem-vindo, {{ session['nome'] }}!</p>
                {% endif %}
            </div>
        </header>

    <div class="main-content">
        <h1>Bem-vindo ao site!</h1>
        <p>veja nossos melhores produtos aqui!</p>
            
        <div class="product-grid">
            {% for produto in produtos %}
            <div class="product-card">
                <img src="{{ url_for('static', filename='images/' + produto['imagem']) }}" alt="{{ produto['nome'] }}">
                <h3>{{ produto['nome'] }}</h3>
                <p>R$ {{ produto['preco'] }}</p>
                <form action="{{ url_for('produtos_bp.adicionar_ao_carrinho', produto_id=produto['id']) }}" method="POST">
                    <button onclick="window.location.href='/carrinho'" type="submit">Adicionar ao Carrinho</button>
                </form>
                <form action="{{ url_for('produtos_bp.comprar', produto_id=produto['id']) }}" method="POST">
                    <button type="submit">Comprar Agora</button>
                </form>
            </div>
            {% endfor %}
        </div>
        </div>
    </div>
</body>
</html>
